@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
body {font-family: 'Inter', sans-serif;margin: 0;}
.heads {display: flex;gap: 320px;background: linear-gradient(180deg, #161616 0%, rgba(128, 128, 128, 0) 133.8%);}
.navh {display: flex;gap: 40px;}
.navh a{color: white;text-decoration: none;font-size: 10px;font-weight: 300;padding: 40px 0px 40px 0px;}
.fullh{height: 100vh;width: 100vw;background-image: url(img/fullh.png);background-size: cover;background-repeat: no-repeat;}
.oht {padding:165px 0px 200px 150px;
    height: 100px;width: 50vw;
    font-weight: 300;
    font-size: 35px;
    line-height: 44px;
    
    color: #FFFFFF;
    }
.mains{background-color: #000000;color: #FFFFFF;}
.abct {display: flex;gap: 200px;padding: 0px 140px 0px 140px; }