@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
body {font-family: 'Inter', sans-serif;font-weight: lighter; margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;}
    a{text-decoration: none;}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.heads {display: flex;gap: 290px;background-image: url(img/Rectangle\ 1.png);}
.navh {display: flex;gap: 40px;}
.navh a{color: white;text-decoration: none;font-size: 10px;font-weight: 300;padding: 40px 0px 40px 0px;}
.fullh{height: 100vh;width: 100%;background-image: url(img/fullh.png);background-size: cover;background-repeat: no-repeat;}
.staffh{height: 80vh;width: 100%;background-image: url(img/stfbg.png);background-size: cover;background-repeat: no-repeat;}
.cnth{height: 80vh;width: 100%;background-image: url(img/cntbg.png);background-size: cover;background-repeat: no-repeat;}
.oht {padding:165px 0px 200px 150px;
    height: 100px;width: 50vw;
    font-weight: 300;
    font-size: 35px;
    line-height: 44px;
    
    color: #FFFFFF;
    }
.mains{color: #FFFFFF;background-color: #000000;width: 100%;}
.abct{display: flex;gap: 90px;padding: 75px 80px 130px 80px;margin: 0;}
.testimonials{border:3px solid white;display:block;text-align: center;padding: 20px 30px 20px 30px;max-width: 43%;}
.mivi{display: flex;gap:250px;width: 75%;text-align: center;margin:auto;}
.mivisingle{display: block;}
.mivisingle h2{font-size: 18px;}
.mivisingle p{font-size: 15px;}
.cap{margin: auto;
    width: 50%;padding: 130px 20px 160px 20px; text-align: center;align-items: center;}
    .company{display: flex;gap: 60px;padding-top: 40px;align-items: center;}
    .company img {object-fit: contain;height: 40px;}
    .gita{padding: 45px 200px 10px 200px; background-image: url(img/gitbg.png);background-size: cover; height: 320px;background-repeat: no-repeat;display: block;color: #FFFFFF;}
    .gits{display: flex;}
    .info{display: block;padding-right: 55px;}
    .liner{width:1px;height:220px;background-color: #FFFFFF;}
    .cs{padding-left: 30px;padding-right: 100px;}
    .footdis{float: left;padding-top: 10px;}
    .footdis a{text-decoration: none;color: #FFFFFF;font-size: 10px;}
    .sss{display: flex;padding: 0px 120px 100px 120px;gap:170px;}
    .ssub{display: block;}
    .ssmall{ border-left: 6px solid rgba(194, 42, 32, 1);padding-left: 15px;padding-bottom: 20px;}
    .ssmall h3{ font-size: 14px;}
    .ssmall p{ font-size: 12px;}
    .smenu2 a{color: #FFFFFF;padding-right: 50px; font-size: 20px;}
    .smenu2{display:inline-block;gap: 20px;}
    .smenu{padding: 0px 0px 100px 120px;}
    .form{padding: 0px 120px 100px 120px;}
    .it3{display: flex;justify-content: space-between;}
    input{background-color: #000000;border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);width: 25%;padding-bottom: 20px;padding-top: 15px;
    color: #FFFFFF;}
        .write{padding-top: 100px;}
        ::-webkit-input-placeholder { /* Edge */
            color: rgba(255, 255, 255, 1);
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(255, 255, 255, 1);
          }
          
          ::placeholder {
            color: rgba(255, 255, 255, 1);
          }
          .city{padding: 0px 130px 40px 130px;display: flex;gap: 40px;}
          .citycrd{display: block;width: 50vw;background: #242424;}